/* // fonts importadas do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: green;
} 


